/* css/style.css */

body {
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 0.75rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

#productos-container .card {
    height: 100%;
    /* Asegura que todas las tarjetas tengan la misma altura */
}